
    <md-card md-whitframe="8">

        <md-toolbar>
            <div class="md-toolbar-tools">

                <md-button class="md-icon-button" aria-label="Menu" ng-click="assoCtrl.openMenu()">
                    <md-tooltip> Menu </md-tooltip>
                    <md-icon md-svg-icon="img/icons/ic_menu_white_24px.svg"> </md-icon>
                </md-button>

                <div flex> </div>
                <md-button class="md-icon-button" aria-label="Schedule Certification" ng-click="assoCtrl.assocCertifications()">
                    <md-tooltip> Schedule Certifications </md-tooltip>
                    <md-icon ng-style="rgb(89, 226, 168)"
                     aria-label="date_range"
                     class="material-icons step"
                     ng-class="md-48">
                     date_range
                  </md-icon>
                </md-button>

                <div flex>{{assoCtrl.title}} </div>
                <md-button class="md-icon-button" aria-label="Menu" ng-click="assoCtrl.logout()">
                    <md-tooltip> Logout </md-tooltip>
                    <md-icon md-svg-icon="img/icons/ic_exit_to_app_white_24px.svg"> </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        
        <div>
            <ui-view name="mainAssociateView"> </ui-view>
        </div>

    </md-card>

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
        <md-toolbar>
            <div class="md-toolbar-tools"> Menu </div>
        </md-toolbar>
        <ul>

        	<li><md-button type ="button" class="md-raised" ng-click="assoCtrl.associateAttendance()">Associate Attendance</md-button>
        	<li><md-button type ="button" class="md-raised" ng-click="assoCtrl.updateInformation()">Update Password</md-button>
        </ul>
    </md-sidenav>