 
    <div class="md-padding" layout="column">
    
        <div class="md-margin" ng-include="'html/templates/associateViewUserInfo.html'"> </div>

        <md-card md-whiteframe="2">
            <md-table-container class="attendanceTable">
                <table md-table>
                    
                    <thead md-head>
                        <tr md-row layout-align="space-around center">
                            <th md-column class="attendanceCell" layout-align="center center" ng-repeat="day in assocAttCtrl.week">
                                <h3> {{ day.name }} </h3>
                                <p> {{ day.date | date:'M/dd' }} </p>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr md-row>
                            <td md-cell class="attendanceCell" flex="20" ng-repeat="day in assocAttCtrl.weekAttendance track by $index">
                                <div class="tableData" layout-align="center center"> 
                                    <md-tooltip> {{ day.icon.tooltip }} </md-tooltip>
                                    <md-icon class="md-material-icon" ng-style="{ color: day.icon.color }"> {{ day.icon.name }} </md-icon>
                                </div>
                            </td>
                        </tr>
                    </tbody>
            
                </table>
            </md-table-container>

            <div layout="row">
                <div flex> </div>

                <div flex="25" layout="row" layout-align="center center">

                    <md-button class="md-icon-button" aria-label="Logout" ng-click="assocAttCtrl.prevWeek()">
                        <md-tooltip> Previous week </md-tooltip>
                        <md-icon class="md-material-icon page-icon"> arrow_back </md-icon>
                    </md-button>
                    
                    <div flex style="text-align: center"> {{ assocAttCtrl.weekLabel }} </div>

                    <md-button class="md-icon-button" aria-label="Logout" ng-click="assocAttCtrl.nextWeek()">
                        <md-tooltip> Next week </md-tooltip>
                        <md-icon class="md-material-icon page-icon"> arrow_forward </md-icon>
                    </md-button>

                </div>

                <div flex> </div>
            </div>
        </md-card>
    
    </div>