
<div layout="row" style="padding-top: 2%;">
	<div flex="33"></div>
	<div flex="67">
		<!-- holds table -->
		<md-table-container>

		<table md-table md-row-select multiple ng-model="selected"
			md-progress="promise" class="md-whiteframe-24dp">

			<!-- ??? -->
			<!-- 			<thead md-head>

				put all the nested elements in a row
				<tr md-row id="weekrow">

					repeat all the days of the week
<th md-column ng-repeat="day in assWeekAttXCtrl.days"
						style="text-align: center;">{{day}}</th>
<th md-column ng-repeat="day in assWeekAttCtrl.days">{{day}}</th>
</tr> 
			</thead>-->
			<!-- enter in the body data -->
			<tbody md-body>

				<tr>
					<td></td>
					<td>Monday <br> <br> {{assWeekAttCtrl.monday}}
					</td>
					<td>Tuesday <br> <br>{{assWeekAttCtrl.tuesday}}
					</td>
					<td>Wednesday <br> <br>{{assWeekAttCtrl.wednesday}}
					</td>
					<td>Thursday <br> <br> {{assWeekAttCtrl.thursday}}
					</td>
					<td>Friday <br> <br> {{assWeekAttCtrl.friday}}
					</td>
					<td></td>

					<!-- ??? -->
				<tr md-row>

					<!-- place each icon in each column cell -->
					<td md-cell ng-repeat="dnc in assWeekAttCtrl.daynumbercount">

						<!-- container for icon -->
						<div class="preview-glyphs iconDemo glyph" flex
							layout-align="center center" style="text-align: center;">

							<!-- set the icon data -->
							<md-icon
								ng-style="{color: '{{(assWeekAttCtrl.daypositionstring[dnc]).color}}'}"
								aria-label='{{(assWeekAttCtrl.daypositionstring[dnc]).name}}'
								class="material-icons step" ng-class="md-48"> <!-- changing the text changes the icon-->
							{{(assWeekAttCtrl.daypositionstring[dnc]).name}} </md-icon>
						</div>

					</td>
				</tr>
			</tbody>
		</table>
		</md-table-container>
	</div>
</div>

<div layout="row">
	<div flex="35"></div>
	<div flex="60">
		<li ng-repeat="legitem in assWeekAttCtrl.legend">
			<!-- set the icon data --> <md-icon
				ng-style="{color: '{{legitem.color}}'}"
				aria-label='{{legitem.name}}' class="material-icons step"
				ng-class="md-48"> <!-- changing the text changes the icon-->


			{{legitem.name}} </md-icon> {{legitem.description}}

		</li>
	</div>


	<!-- 	<input type="submit" ng-click="assWeekAttCtrl.getNextWeek()"
		value="Next Week" /> <input type="submit"
		ng-click="assWeekAttCtrl.getPreviousWeek()" value="previous Week" />
 -->
</div>

<div layout="row" layout-align="center center">
	<div>
		<md-icon style=" cursor: pointer; " class="material-icons"
			ng-click="assWeekAttCtrl.getPreviousWeek()">arrow_back <md-tooltip>Last
		week</md-tooltip></md-icon>
	</div>
	<div>
		<p>Week of {{assWeekAttCtrl.monday}}</p>
	</div>
	<div>
		<md-icon style="cursor: pointer;" class="material-icons"
			ng-click="assWeekAttCtrl.getNextWeek()">arrow_forward <md-tooltip>Next
		week</md-tooltip></md-icon>
	</div>
</div>
</div>

