target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


### blackbox ###
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/k8s/secrets/db-info.yaml
/k8s/secrets/production/db-info.yaml
/k8s/secrets/staging/db-info.yaml
/k8s/secrets/staging/sf-auth-service.yaml
/k8s/secrets/production/sf-auth-service.yaml
