
    <div layout="row">

          <!-- Associate info card -->
        <div ng-show="manAttCtrl.infoOpen" id="associateInformationDiv" ng-class="{showInformationDiv : (manAttCtrl.infoOpen), showBigInformationDiv : (manAttCtrl.infoOpen && manAttCtrl.smallDevice)}">
            <div id="fixedContainer">
                <div id="closeIconContainer">
                    <span><md-icon id="closeIcon" ng-click="manAttCtrl.closeInfo()">compare_arrows</md-icon></span>
                </div>
                <md-card md-whiteframe="8dp">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">
                                {{ manAttCtrl.selectedUser.firstName }} {{ manAttCtrl.selectedUser.lastName }} - 
                                ({{ manAttCtrl.selectedUser.batchType.type}} {{ manAttCtrl.selectedUser.graduationDate | date:"MM/dd"}})
                            </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                            <span>{{ manAttCtrl.selectedUser.username }}
                                <div style="float: right;;" ng-show="manAttCtrl.selectedUser.project"> Current project :{{ manAttCtrl.selectedUser.project }}</div>
                                <div style="float: right;;" ng-hide="manAttCtrl.selectedUser.project">This associate is not currently on a project</div>
                            </span>
                            
                            <p>
                                Days in marketing:  
                                <span>{{manAttCtrl.calcMarketingDays()}}</span>
                            </p>
                            
                            <p>
                                Panel Status: 
                                <span ng-show="manAttCtrl.selectedUser.panels[0]">{{ manAttCtrl.selectedUser.panels[0].note }} {{ manAttCtrl.selectedUser.panels[0].dateDisplay }}</span>
                                <span ng-hide="manAttCtrl.selectedUser.panels[0]">No Status to note</span>
                            </p>
                    </md-card-content>
                </md-card>
                <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
                <md-card md-whiteframe="8dp" class="skillCard">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Job Events</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                    	<!-- if the user has No events display this text -->
                        <span ng-hide="manAttCtrl.selectedUser.events[0].date">There is no data to display</span>
                        
                        <!-- if the user has events display this div -->
                        <div ng-show="manAttCtrl.selectedUser.events[0].date">
                        
                        <!-- for each of the users selected events list and order it by date -->
                            <div ng-repeat="event in manAttCtrl.selectedUser.events | orderBy:'-date'" class="certList">
                            	
                            	<md-button ng-click ="manAttCtrl.showFullJobInfo(event)">
                            	
                            		<!-- description of button -->
                            		<md-tooltip> more info </md-tooltip>
                            	
                            	<!-- text to display in button -->
                            	{{manAttCtrl.convertToDateObject(event.date)}} |
                            	{{event.type.type}}
                            	
                            	<!-- show the eject icon to notify user there is more info to  be displayed -->
                            	<md-icon ng-if="manAttCtrl.selectedjob != event" ng-style="{color: 'lightgrey'}" class="material-icons step md-material-icon page-icon" ng-class="md-48">eject</md-icon>                          	
                            	</md-button>
                    	
                            	<!-- show this div if we have selected to see more info on this particular job -->
                            	<div ng-if="manAttCtrl.selectedjob == event">
                            	<ul>
                            	<li>Company Name: {{event.assignment.companyName}}</li>
                            	<li>Type: {{event.type.type}}</li>
                            	<li>Event Location: {{event.location}}</li> 
                            	<li>Assignment Location: {{event.assignment.location}}</li>
                            	<li>Job Title: {{event.assignment.jobTitle}}</li>
                            	<li>Note: {{event.note}}</li>
                            	</ul>
                            	</div>
                            	
                            	<!-- horizontal line -->
                            	<hr>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
                <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
                <md-card md-whiteframe="8dp" class="skillCard">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Skills</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>
                            No content to display
                        </p>
                    </md-card-content>
                </md-card>
                <md-card md-whiteframe="8dp" class="certCard">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Certifications</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <span ng-hide="manAttCtrl.selectedUser.certs[0].date">There is no data to display</span>
                        <div ng-show="manAttCtrl.selectedUser.certs[0].date">
                            <div ng-repeat="cert in manAttCtrl.selectedUser.certs | orderBy:'-date'" class="certList">
                            	<md-icon ng-show="cert.icon" md-whiteframe="2dp" ng-style="{color: cert.icon.color}" class="material-icons step certIcon" ng-class="md-48" ng-click="manAttCtrl.updateCert(cert,manAttCtrl.selectedUser)">{{ cert.icon.name }}</md-icon>
                            	{{ cert.dateDisplay }} |
                            	{{cert.note}}
                            	
                            	<hr>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>

          <!-- Associate attendance table -->
        <div id="attendanceTableDiv" ng-class="{resizeAttendanceDiv : (manAttCtrl.infoOpen), resizeSmallAttendanceDiv : (manAttCtrl.infoOpen && supAttCtrl.smallDevice)}">
            <md-card class="md-padding" layout="column">
            
                <div class="loadedContainer" ng-if="manAttCtrl.users != undefined">
                    <div layout="row">
                        <div flex> </div>

                        <div flex="25" layout="row" layout-align="center center">

                            <md-button class="md-icon-button" aria-label="Logout" ng-click="manAttCtrl.prevWeek()">
                                <md-tooltip> Previous week </md-tooltip>
                                <md-icon class="md-material-icon page-icon"> arrow_back </md-icon>
                            </md-button>
                            
                            <div flex style="text-align: center"> {{ manAttCtrl.weekLabel }} </div>

                            <md-button class="md-icon-button" aria-label="Logout" ng-click="manAttCtrl.nextWeek()">
                                <md-tooltip> Next week </md-tooltip>
                                <md-icon class="md-material-icon page-icon"> arrow_forward </md-icon>
                            </md-button>

                        </div>

                        <div flex> </div>
                    </div>

                    <md-table-container class="attendanceTable">
                        <table md-table>
                            
                            <thead md-head md-order="manAttCtrl.tableOrder">
                                <tr md-row layout-align="space-around center">
                                    <th md-column class="attendanceCell" layout-align="center center">
                                    <!--<th md-column class="attendanceCell" layout-align="center center" md-order-by="firstName"> --> <!-- Used for sorting, not necessary with this iteration -->
                                        <h3> Associate name </h3>
                                    </th>
                                    <th md-column class="attendanceCell" layout-align="center center" ng-repeat="day in manAttCtrl.week">
                                        <h3> {{ day.name }} </h3>
                                        <p> {{ day.date | date:'M/dd' }} </p>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr md-row ng-repeat="user in manAttCtrl.users | orderBy:manAttCtrl.tableOrder" ng-class="{highlightSelected: manAttCtrl.selectedUser == user}">
                                    <td md-cell flex="25" ng-click="manAttCtrl.toggleInfo(user)">
                                        <div layout="row">
                                            <div class="notificationContainer">
                                                <md-icon ng-show="user.notification.icon" md-whiteframe="2dp" ng-style="{color: user.notification.icon.color}" class="material-icons step notificationIcon" ng-class="md-48">
                                                    {{ user.notification.icon.name }}
                                                </md-icon>
                                            </div>
                                            <h2 class="rowIndex"> {{ $index + 1 }} </h3>
                                            <div class="md-2-line rowName">
                                                <h3> {{ user.firstName }} {{ user.lastName }} </h3>
                                                <p> {{ user.username }} </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td md-cell class="attendanceCell" flex="15" ng-repeat="day in user.weekAttendance track by $index" ng-click="manAttCtrl.verify( user, $index )">
                                        <div class="tableData" layout-align="center center">
                                            <md-tooltip> {{ day.icon.tooltip }} </md-tooltip>
                                            <md-icon class="md-material-icon" ng-style="{ color: day.icon.color }"> {{ day.icon.name }} </md-icon>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                    
                        </table>
                    </md-table-container>

                    <div layout="row">
                        <div flex> </div>

                        <div flex="25" layout="row" layout-align="center center">

                            <md-button class="md-icon-button" aria-label="Logout" ng-click="manAttCtrl.prevWeek()">
                                <md-tooltip> Previous week </md-tooltip>
                                <md-icon class="md-material-icon page-icon"> arrow_back </md-icon>
                            </md-button>
                            
                            <div flex style="text-align: center"> {{ manAttCtrl.weekLabel }} </div>

                            <md-button class="md-icon-button" aria-label="Logout" ng-click="manAttCtrl.nextWeek()">
                                <md-tooltip> Next week </md-tooltip>
                                <md-icon class="md-material-icon page-icon"> arrow_forward </md-icon>
                            </md-button>

                        </div>

                        <div flex> </div>
                    </div>
                
                </div>

                <div class="loadingContainer" ng-if="manAttCtrl.users == undefined" layout="column" layout-wrap layout-align="center center">
                    <div flex="100"> &nbsp; </div>
                    <md-progress-circular flex="100" class="md-accent" md-mode="indeterminate"> </md-progress-circular>
                    <div flex="100"> &nbsp; </div>
                </div>
            </md-card>
        </div>

    </div>

    <style type="text/css">
        .showInformationDiv{
            width:33%;
        }
        .showBigInformationDiv{
            width:50%;
        }
        
        .resizeAttendanceDiv{
            width:67% !important;
        }
        .resizeSmallAttendanceDiv{
            width:50%;
        }
        .activeUser{
            background: #5C6BC0;
            color: white !important;
        }
        #attendanceTableDiv{
            width: 100%;
        }
        #associateInformationDiv md-card{
            background-color: #5C6BC0;
            color: white !important;
            width: 100%;
            overflow: auto;
            
        }
        #fixedContainer{
            position: fixed;
            width: 32%;
        
        }
        /*#associateInformationDiv .skillCard{
            width:46%;
            height: 23em;
            display: inline-block;
        }
        #associateInformationDiv .certCard{
            width:46%;
            height: 23em;
            display: inline-block;
        }*/
        #associateInformationDiv ul{
            list-style: none;
        }
        .notificationContainer{
            position:relative;
        }
        .notificationIcon{
            background: white;
            position: absolute;
            right:-176px;
            top:6px;
        }
        #closeIconContainer{
            position:fixed;
            width: 32%;
        }
        #closeIcon{
            cursor: pointer;
            position: relative;
            left: 87%;
            margin-top: 5%;
            font-size: 44px;
            color: white !important;
        }
        .showInformationDiv{
            width:33%;
        }
        .showBigInformationDiv{
            width:50%;
        }
        
        .resizeAttendanceDiv{
            width:67% !important;
        }
        .resizeSmallAttendanceDiv{
            width:50%;
        }
        .activeUser{
            background: #5C6BC0;
            color: white !important;
        }
        #attendanceTableDiv{
            width: 100%;
        }
        #associateInformationDiv md-card{
            background-color: #5C6BC0;
            color: white !important;
            width: 100%;
            overflow-y: auto;
        }
        #fixedContainer{
            position: fixed;
            width: 32%;
        }
        /*#associateInformationDiv .skillCard{
            width:46%;
            height: 23em;
            display: inline-block;
        }
        #associateInformationDiv .certCard{
            width:46%;
            height: 23em;
            display: inline-block;
        }*/
        #associateInformationDiv ul{
            list-style: none;
        }
        .notificationContainer{
            position:relative;
        }
        .certIcon{
            background: white;
            float: left;
            position: relative;
            top: -3px;
            left: -.5em;
        }
        #closeIconContainer{
            position:fixed;
            width: 32%;
        }
        #closeIcon{
            cursor: pointer;
            position: relative;
            left: 87%;
            margin-top: 5%;
            font-size: 44px;
            color: white !important;
        }
    </style>