
    <div layout="row">

          <!-- Associate info card -->
        <div ng-show="manAttCtrl.infoOpen" id="associateInformationDiv" ng-class="{showInformationDiv : (manAttCtrl.infoOpen), showBigInformationDiv : (manAttCtrl.infoOpen && manAttCtrl.smallDevice)}">
            <div id="fixedContainer">
                <div id="closeIconContainer">
                    <span><md-icon id="closeIcon" ng-click="manAttCtrl.closeInfo()">compare_arrows</md-icon></span>
                </div>
                <md-card md-whiteframe="8dp">
                    <md-card-title>
                        <md-card-title-text>
                        
                       
                            <span class="md-headline">
                            
                            <!-- button to reset users password -->
                        <md-button ng-click="manAttCtrl.resetSelectedUsersJob($event)" class="md-icon-button" aria-label="Open sample menu">
										
									<!-- description of button -->
                            		<md-tooltip> Reset user's password </md-tooltip>
										
										<!-- icon to display on the button -->
										<md-icon style="color:#59E2A8;">settings_backup_restore</md-icon>
										
									</md-button>
						<md-button ng-click="manAttCtrl.deleteSelectedUser($event)" class="md-icon-button" aria-label="Open sample menu">
							<md-tooltip> Delete user </md-tooltip>
							<md-icon style="color:#59E2A8;">delete_forever</md-icon>
						</md-button>
									
                            
                                {{ manAttCtrl.selectedUser.firstName }} {{ manAttCtrl.selectedUser.lastName }} - 
                                ({{ manAttCtrl.selectedUser.batchType.type}} {{ manAttCtrl.selectedUser.graduationDate | date:"MM/dd"}})
                            </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
							
							<!-- Current Project -->
							<p>
							  <div ng-show="manAttCtrl.selectedUser.activeProject" ng-click="manAttCtrl.assignProject(manAttCtrl.selectedUser, manAttCtrl.selectedUser.activeProject)"> Current project : {{ manAttCtrl.selectedUser.activeProject.name }}</div>
	                          <div ng-hide="manAttCtrl.selectedUser.activeProject" ng-click="manAttCtrl.assignProject(manAttCtrl.selectedUser, manAttCtrl.selectedUser.activeProject)"> Current project : No project</div>
							</p>
							
                            <p>
                            	Marketing status:
                            			<md-input-container id="marketingStatus">
                            			
				  							<md-select style="color:white;"  placeholder="{{manAttCtrl.selectedUser.marketingStatus.name}}"
				    							  ng-model="manAttCtrl.markBind" ng-change="manAttCtrl.changeStatus()">
				    							<md-option ng-repeat="x in manAttCtrl.mStatuses | orderBy: 'name'" ng-value="x">{{ x.name }}</md-option>
				 							 </md-select>
										</md-input-container>
                            
                            </p>

                        
                            
                            <p>
                                Days in marketing:  
                                <span ng-if="manAttCtrl.selectedUser">{{ manAttCtrl.calcMarketingDays() }}</span>
                            </p>
                            

                            <p>
                                Panel status:
								<md-menu ng-show="manAttCtrl.selectedUser.panels[0]">
									<!-- Trigger element is a md-button with an icon -->
									<md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
										<md-icon ng-show="manAttCtrl.selectedUser.panels[0].passed == true" style="color:#59E2A8;">check_circle</md-icon>
										<md-icon ng-show="manAttCtrl.selectedUser.panels[0].passed == false" style="color:#A00;">not_interested</md-icon>
									</md-button>
									<md-menu-content>
										<md-menu-item><md-button ng-click="manAttCtrl.togglePanelStatus(manAttCtrl.selectedUser, manAttCtrl.selectedUser.panels[0], true)"><md-icon>check_circle</md-icon> Passed</md-button></md-menu-item>
										<md-menu-item><md-button ng-click="manAttCtrl.togglePanelStatus(manAttCtrl.selectedUser, manAttCtrl.selectedUser.panels[0], false)"><md-icon>not_interested</md-icon> Not Passed</md-button></md-menu-item>
									</md-menu-content>
								</md-menu>
                                <span ng-show="manAttCtrl.selectedUser.panels[0].passed == false" ng-click="manAttCtrl.togglePanelDatePicker()" style="cursor: pointer;">Scheduled for:
                                	 <span ng-show="manAttCtrl.selectedUser.panels[0]">{{ manAttCtrl.selectedUser.panels[0].dateDisplay }}</span>
                                	 <span ng-hide="manAttCtrl.selectedUser.panels[0].dateDisplay">No date selected</span>
                               	</span>
                               	<md-card md-whiteframe="6dp" style="max-width:30vh;" ng-show="manAttCtrl.panelDatePickerIsOpen">
	                               	<md-datepicker ng-model="manAttCtrl.panelDate" md-placeholder="Enter date" ng-change="manAttCtrl.updatePanelDate(manAttCtrl.selectedUser, manAttCtrl.selectedUser.panels[0])"></md-datepicker>
	                            </md-card>
                                <span ng-hide="manAttCtrl.selectedUser.panels[0]"><md-icon ng-click="manAttCtrl.createPanel(manAttCtrl.selectedUser)" style="color:white !important;cursor: pointer;">note_add</md-icon></span>

                            </p>
                    </md-card-content>
                </md-card>
                <md-card md-whiteframe="8dp" class="skillCard">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Events
                            
                            <!-- add a delete button when a job is selected -->
                            <md-button ng-click ="manAttCtrl.makenewjob()">
                            		<!-- description of button -->
                            		<md-tooltip> Add job event </md-tooltip>
                            <!-- show the delete if there is a selected job being displayed -->
                            	<md-icon ng-style="{color: 'lightgrey'}" class="material-icons step md-material-icon page-icon" ng-class="md-48">library_add</md-icon>                          	
                            	</md-button>
                            
                            <!-- add a delete button when a job is selected -->
                            <md-button ng-if="manAttCtrl.selectedjob != null" ng-click ="manAttCtrl.deleteSelectedJob()">
                            		<!-- description of button -->
                            		<md-tooltip> Delete selected job </md-tooltip>
                            <!-- show the delete if there is a selected job being displayed -->
                            	<md-icon ng-style="{color: 'lightpink'}" class="material-icons step md-material-icon page-icon" ng-class="md-48">delete_forever</md-icon>                          	
                            	</md-button>
                            </span>
                            
                            
                            
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                    	<!-- if the user has No events display this text -->
                        <span ng-hide="manAttCtrl.selectedUser.events[0].date">There is no data to display</span>
                        
                        <!-- if the user has events display this div -->
                        <div ng-show="manAttCtrl.selectedUser.events[0].date">
                        
                        <!-- for each of the users selected events list and order it by date -->
                            <div ng-repeat="event in manAttCtrl.selectedUser.events | orderBy:'-date'" class="certList">
                            	
                            	<md-button ng-click ="manAttCtrl.showFullJobInfo(event)">
                            	
                            		<!-- description of button -->
                            		<md-tooltip> More info </md-tooltip>
                            	
                            	<!-- text to display in button -->
                            	{{manAttCtrl.convertToDateObject(event.date)}} |
                            	{{event.type.type}}
                            	
                            	<!-- show the eject icon to notify user there is more info to  be displayed -->
                            	<md-icon ng-if="manAttCtrl.selectedjob != event" ng-style="{color: 'lightgrey'}" class="material-icons step md-material-icon page-icon" ng-class="md-48">eject</md-icon>                          	
                            	</md-button>
                    	
                            	<!-- show this div if we have selected to see more info on this particular job -->
                            	<div ng-if="manAttCtrl.selectedjob == event">
                            	<ul>
                            	<li>Company name: {{event.assignment.companyName}}</li>
                            	<li>Type: {{event.type.type}}</li>
                            	<li>Event location: {{event.location}}</li> 
                            	<li>Assignment location: {{event.assignment.location}}</li>
                            	<li>Job title: {{event.assignment.jobTitle}}</li>
                            	<li>Note: {{event.note}}</li>
                            	</ul>
                            	</div>
                            	
                            	<!-- horizontal line -->
                            	<hr>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
                <md-card md-whiteframe="8dp" class="skillCard">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Skills</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>
                            No content to display
                        </p>
                    </md-card-content>
                </md-card>
                <md-card md-whiteframe="8dp" class="certCard">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Certifications</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <span ng-hide="manAttCtrl.selectedUser.certs[0].date">There is no data to display</span>
                        <div ng-show="manAttCtrl.selectedUser.certs[0].date">
                            <div ng-repeat="cert in manAttCtrl.selectedUser.certs | orderBy:'-date'" class="certList" ng-click="manAttCtrl.updateCert(cert,manAttCtrl.selectedUser)">
                            	<md-icon ng-show="cert.icon" md-whiteframe="2dp" ng-style="{color: cert.icon.color}" class="material-icons step certIcon" ng-class="md-48">{{ cert.icon.name }}</md-icon>
                            	{{ cert.dateDisplay }} |
                            	{{cert.note}}
                            	
                            	<hr>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>

          <!-- Associate attendance table -->
        <div id="attendanceTableDiv" ng-class="{resizeAttendanceDiv : (manAttCtrl.infoOpen), resizeSmallAttendanceDiv : (manAttCtrl.infoOpen && supAttCtrl.smallDevice)}">
            <md-card class="md-padding" layout="column">
            
                <div class="loadedContainer" ng-if="manAttCtrl.users != undefined">
                    <div layout="row">
                        <div flex> </div>

                        <div flex="25" layout="row" layout-align="center center">

                            <md-button class="md-icon-button" aria-label="Logout" ng-click="manAttCtrl.prevWeek()">
                                <md-tooltip> Previous week </md-tooltip>
                                <md-icon class="md-material-icon page-icon"> arrow_back </md-icon>
                            </md-button>
                            
                            <div flex style="text-align: center"> {{ manAttCtrl.weekLabel }} </div>

                            <md-button class="md-icon-button" aria-label="Logout" ng-click="manAttCtrl.nextWeek()">
                                <md-tooltip> Next week </md-tooltip>
                                <md-icon class="md-material-icon page-icon"> arrow_forward </md-icon>
                            </md-button>

                        </div>

                        <div flex> </div>
                    </div>

                    <md-table-container class="attendanceTable">
                        <table md-table>
                            
                            <thead md-head md-order="manAttCtrl.tableOrder">
                                <tr md-row layout-align="space-around center">
                                    <th md-column class="attendanceCell" layout-align="center center">
                                    <!--<th md-column class="attendanceCell" layout-align="center center" md-order-by="firstName"> --> <!-- Used for sorting, not necessary with this iteration -->
                                        <h3> Associate name </h3>
                                    </th>
                                    <th md-column class="attendanceCell" layout-align="center center" ng-repeat="day in manAttCtrl.week">
                                        <h3> {{ day.name }} </h3>
                                        <p> {{ day.date | date:'M/dd' }} </p>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr md-row ng-repeat="user in manAttCtrl.users | orderBy:manAttCtrl.tableOrder" ng-class="{highlightSelected: manAttCtrl.selectedUser == user}">
                                    <td md-cell flex="25" ng-click="manAttCtrl.toggleInfo(user)">
                                        <div layout="row">
                                            <div class="notificationContainer">
                                                <md-icon ng-show="user.notification.icon" md-whiteframe="2dp" ng-style="{color: user.notification.icon.color}" class="material-icons step notificationIcon" ng-class="md-48">
                                                    {{ user.notification.icon.name }}
                                                </md-icon>
                                            </div>
                                            <h2 class="rowIndex"> {{ $index + 1 }} </h3>
                                            <div class="md-2-line rowName">
                                                <h3> {{ user.firstName }} {{ user.lastName }} </h3>
                                                <p> {{ user.username }} </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td md-cell class="attendanceCell" flex="15" ng-repeat="day in user.weekAttendance track by $index" ng-click="manAttCtrl.verify( user, $index )">
                                        <div class="tableData" layout-align="center center">
                                            <md-tooltip> {{ day.icon.tooltip }} </md-tooltip>
                                            <md-icon class="md-material-icon" ng-style="{ color: day.icon.color }"> {{ day.icon.name }} </md-icon>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                    
                        </table>
                    </md-table-container>

                    <div layout="row">
                        <div flex> </div>

                        <div flex="25" layout="row" layout-align="center center">

                            <md-button class="md-icon-button" aria-label="Logout" ng-click="manAttCtrl.prevWeek()">
                                <md-tooltip> Previous week </md-tooltip>
                                <md-icon class="md-material-icon page-icon"> arrow_back </md-icon>
                            </md-button>
                            
                            <div flex style="text-align: center"> {{ manAttCtrl.weekLabel }} </div>

                            <md-button class="md-icon-button" aria-label="Logout" ng-click="manAttCtrl.nextWeek()">
                                <md-tooltip> Next week </md-tooltip>
                                <md-icon class="md-material-icon page-icon"> arrow_forward </md-icon>
                            </md-button>

                        </div>

                        <div flex> </div>
                    </div>
                
                </div>

                <div class="loadingContainer" ng-if="manAttCtrl.users == undefined" layout="column" layout-wrap layout-align="center center">
                    <div flex="100"> &nbsp; </div>
                    <md-progress-circular flex="100" class="md-accent" md-mode="indeterminate"> </md-progress-circular>
                    <div flex="100"> &nbsp; </div>
                </div>
            </md-card>
        </div>

    </div>

    <style type="text/css">
        .showInformationDiv{
            width:33%;
        }
        .showBigInformationDiv{
            width:50%;
        }
        
        .resizeAttendanceDiv{
            width:67% !important;
        }
        .resizeSmallAttendanceDiv{
            width:50%;
        }
        .activeUser{
            background: #5C6BC0;
            color: white !important;
        }
        #attendanceTableDiv{
            width: 100%;
        }
        #fixedContainer>md-card{
            background-color: #5C6BC0;
            color: white !important;
            width: 100%;
            overflow: auto;
            
        }
        #fixedContainer{
            position: fixed;
            width: 32%;
        
        }
        #associateInformationDiv ul{
            list-style: none;
        }
        .notificationContainer{
            position:relative;
        }
        .notificationIcon{
            background: white;
            position: absolute;
            right:-176px;
            top:6px;
        }
        #closeIconContainer{
            position:fixed;
            width: 32%;
        }
        #closeIcon{
            cursor: pointer;
            position: relative;
            left: 87%;
            margin-top: 5%;
            font-size: 44px;
            color: white !important;
        }
        .certIcon{
            background: white;
            float: left;
            position: relative;
            top: -3px;
            left: -.5em;
        }

        #marketingStatus{
         	postion: relative; 
         	top: -3px;
         }

         
  		#marketingStatus md-select-value.md-select-placeholder {
  			color: white !important;
		}
		
		#marketingStatus .md-select-value>span:not(.md-select-icon) .md-text {
			color:white !important;
		}
		
		#marketingStatus .md-select-value .md-select-icon {
			color:white !important;
		}

    </style>