<md-card-title> 
	<md-card-title-text style="text-align: center"><h1>Update Information</h1></md-card-title-text> 
</md-card-title>

<form name="updateInfoForm" ng-submit="uInfoctrl.submit()" novalidate>

		<!-- md-block makes input span entire width -->
		<md-input-container class="md-block"> 
			<label style="text-align: center">oldPass</label> 
			<input id="oldPass" ng-bind="uic.oldPass" style="text-align: center" type="password">
		</md-input-container>
		<md-input-container class="md-block"> 
			<label style="text-align: center">New Password</label> 
			<input id="newPass" ng-bind="uic.newPass" style="text-align: center" type="password">
		</md-input-container>

		<md-input-container class="md-block"> 
			<label style="text-align: center">Confirm Password</label> 
			<input id="confirmPass" ng-bind="uic.confirmPass" style="text-align: center" type="password"> 
		</md-input-container>

	<div layout="row" layout-align="center">
		<md-button type="submit" class="md-raised md-primary" style="width:100%; text-align: center">Submit</md-button>
	</div>
</form>