<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>Associate Weekly Attendance</span>
  </div>
</md-toolbar>

<md-table-container>
	<table md-table>
		<col>
		<col ng-class="{highlightToday : (adAttCtrl.activeDay == 1)}">
		<col ng-class="{highlightToday : (adAttCtrl.activeDay == 2)}">
		<col ng-class="{highlightToday : (adAttCtrl.activeDay == 3)}">
		<col ng-class="{highlightToday : (adAttCtrl.activeDay == 4)}">
		<col ng-class="{highlightToday : (adAttCtrl.activeDay == 5)}">
		<thead md-head>
			<tr md-row>
				<th md-column></th>
				<th md-column>Monday</th>
				<th md-column>Tuesday</th>
				<th md-column>Wednesday</th>
				<th md-column>Thursday</th>
				<th md-column>Friday</th>
			</tr>
			<tr md-row>
				<th>
					<md-input-container>
                        <label><span><md-icon>search</md-icon></span>Search</label>
                        <input type="text" ng-model="searchBox">
                    </md-input-container></th>
				<th md-column>{{ adAttCtrl.monday }}</th>
				<th md-column>{{ adAttCtrl.tuesday }}</th>
				<th md-column>{{ adAttCtrl.wednesday }}</th>
				<th md-column>{{ adAttCtrl.thursday }}</th>
				<th md-column>{{ adAttCtrl.friday }}</th>
			</tr>
		</thead>
	
		<tbody md-body>
			<tr md-row ng-repeat = "as in adAttCtrl.users | filter:searchBox track by as.username">
				<td md-cell>{{ as.firstName }} {{ as.lastName }}</td>
				<td md-cell>
					<span ng-show="as.thisWeek[0].verified == false || as.thisWeek[0].verified == null" >
						<md-icon style="color:orange;" ng-click="verifyAttendance(as, 0)">check_circle</md-icon>
					</span>
					<!-- container for icon -->
					<div class="preview-glyphs iconDemo glyph" flex layout-align="center center" style="text-align: center;">
					
					    <!-- set the icon data -->
					    <md-icon style="color: {{as.thisWeek[0].icon.color}}" aria-label='{{as.thisWeek[0].icon.name}}' class="material-icons step" ng-class="md-48">
					
					        <!-- changing the text changes the icon-->
					        {{ as.thisWeek[0].icon.name }}
					    </md-icon>
					    <md-icon ng-show="(as.thisWeek[0].checkedIn == null && adAttCtrl.activeDay > 0) || (adAttCtrl.activeWeek == false && as.thisWeek[0].checkedIn == null)" ng-style="{color: '#A00'}" aria-label="Not Checked In" class="material-icons step" ng-class="md-48">close</md-icon>
					</div>
				<td md-cell>
					<span ng-show="as.thisWeek[1].verified == false || as.thisWeek[1].verified == null" >
						<md-icon style="color:orange;" ng-click="verifyAttendance(as, 1)">check_circle</md-icon>
					</span>
					<div class="preview-glyphs iconDemo glyph" flex layout-align="center center" style="text-align: center;">
					    <md-icon style="color: {{as.thisWeek[0].icon.color}}" aria-label='{{as.thisWeek[1].icon.name}}' class="material-icons step" ng-class="md-48">
					        {{ as.thisWeek[1].icon.name }}
					    </md-icon>
					    <md-icon ng-show="(as.thisWeek[1].checkedIn == null && adAttCtrl.activeDay > 1) || (adAttCtrl.activeWeek == false && as.thisWeek[1].checkedIn == null)" ng-style="{color: '#A00'}" aria-label="Not Checked In" class="material-icons step" ng-class="md-48">close</md-icon>
					</div>
				<td md-cell>
					<span ng-show="as.thisWeek[2].verified == false || as.thisWeek[2].verified == null" >
						<md-icon style="color:orange;" ng-click="verifyAttendance(as, 2)">check_circle</md-icon>
					</span>
					<div class="preview-glyphs iconDemo glyph" flex layout-align="center center" style="text-align: center;">
					    <md-icon style="color: {{as.thisWeek[0].icon.color}}" aria-label='{{as.thisWeek[2].icon.name}}' class="material-icons step" ng-class="md-48">
					        {{ as.thisWeek[2].icon.name }}
					    </md-icon>
					    <md-icon ng-show="(as.thisWeek[2].checkedIn == null && adAttCtrl.activeDay > 2) || (adAttCtrl.activeWeek == false && as.thisWeek[2].checkedIn == null)" ng-style="{color: '#A00'}" aria-label="Not Checked In" class="material-icons step" ng-class="md-48">close</md-icon>
					</div>
				<td md-cell>
					<span ng-show="as.thisWeek[3].verified == false || as.thisWeek[3].verified == null" >
						<md-icon style="color:orange;" ng-click="verifyAttendance(as, 3)">check_circle</md-icon>
					</span>
					<div class="preview-glyphs iconDemo glyph" flex layout-align="center center" style="text-align: center;">
					    <md-icon style="color: {{as.thisWeek[0].icon.color}}" aria-label='{{as.thisWeek[3].icon.name}}' class="material-icons step" ng-class="md-48">
					        {{ as.thisWeek[3].icon.name }}
					    </md-icon>
					    <md-icon ng-show="(as.thisWeek[3].checkedIn == null && adAttCtrl.activeDay > 3) || (adAttCtrl.activeWeek == false && as.thisWeek[3].checkedIn == null)" ng-style="{color: '#A00'}" aria-label="Not Checked In" class="material-icons step" ng-class="md-48">close</md-icon>
					</div>
				<td md-cell>
					<span ng-show="as.thisWeek[4].verified == false || as.thisWeek[4].verified == null" >
						<md-icon style="color:orange;" ng-click="verifyAttendance(as, 4)">check_circle</md-icon>
					</span>
					<div class="preview-glyphs iconDemo glyph" flex layout-align="center center" style="text-align: center;">
					    <md-icon style="color: {{as.thisWeek[0].icon.color}}" aria-label='{{as.thisWeek[4].icon.name}}' class="material-icons step" ng-class="md-48">
					        {{ as.thisWeek[4].icon.name }}
					    </md-icon>
					    <md-icon ng-show="(as.thisWeek[4].checkedIn == null && adAttCtrl.activeDay > 4) || (adAttCtrl.activeWeek == false && as.thisWeek[4].checkedIn == null)" ng-style="{color: '#A00'}" aria-label="Not Checked In" class="material-icons step" ng-class="md-48">close</md-icon>
					</div>
				
			</tr>
		</tbody>
	</table>
</md-table-container>

<section layout="row" layout-align="center center">
  <md-button style="background-color:#D9E9FF;" ng-click="goBackOneWeek()"><span><md-icon>keyboard_arrow_left</md-icon></span></md-button>
  <md-button style="background-color:#D9E9FF;" ng-click="goForwardOneWeek()"><span><md-icon>keyboard_arrow_right</md-icon></span></md-button>
</section>

<div layout="row">
    <div flex="35"></div>
    <div flex="60">
        <li ng-repeat="legitem in adAttCtrl.legend">

            <!-- set the icon data -->
            <md-icon ng-style="{color: '{{legitem.color}}'}" aria-label='{{legitem.name}}' class="material-icons step" ng-class="md-48">

                <!-- changing the text changes the icon-->

                {{legitem.name}}
            </md-icon>

            {{legitem.description}}

        </li>
    </div>
</div>
<style>
.highlightToday{
	background:#D9E9FF;
}
</style>