<md-table-container>
<table md-table>
	<col width="100">
	<col ng-class="{highlightToday : (adAttCtrl.activeDay == 1)}" width="100">
	<col ng-class="{highlightToday : (adAttCtrl.activeDay == 2)}" width="100">
	<col ng-class="{highlightToday : (adAttCtrl.activeDay == 3)}" width="100">
	<col ng-class="{highlightToday : (adAttCtrl.activeDay == 4)}" width="100">
	<col ng-class="{highlightToday : (adAttCtrl.activeDay == 5)}" width="100"> 
	<thead md-head>
		<tr md-row>
			<th  ><md-input-container>
				<div id="search">

					<input type="text" placeholder="Search..." ng-model="searchBox">
				</div>
				</md-input-container></th>

			
			<th></th>
			<th></th>
			
			<th  ><span><md-icon class="material-icons  md-36" ng-click="goBackOneWeek()" style=" cursor: pointer;">arrow_back</md-icon></span></th>
			<th  >Week of {{adAttCtrl.monday}}</th>
			<th  ><span><md-icon class="material-icons  md-36" ng-click="goForwardOneWeek()" style=" cursor: pointer;">arrow_forward</md-icon></span></th>

		</tr>
		<tr md-row>
			<th  >Name</th>
			<th  >Monday</th>
			<th  >Tuesday</th>
			<th  >Wednesday</th>
			<th  >Thursday</th>
			<th  >Friday</th>
		</tr>
		<tr md-row>
		    <th  ></th>
			<th  >{{ adAttCtrl.monday }}</th>
			<th  >{{ adAttCtrl.tuesday }}</th>
			<th  >{{ adAttCtrl.wednesday }}</th>
			<th  >{{ adAttCtrl.thursday }}</th>
			<th  >{{ adAttCtrl.friday }}</th>
		</tr>
	</thead>

	<tbody md-body>
		<tr md-row
			ng-repeat="as in adAttCtrl.users | filter:searchBox track by as.username">
			<td  >{{ as.firstName }} {{ as.lastName }}</td>
			<td  ><span
				ng-show="as.thisWeek[0].verified == false || as.thisWeek[0].verified == null">
					<md-icon style=" cursor: pointer; color:orange;" ng-click="verifyAttendance(as, 0)">check_circle</md-icon>
			</span> <!-- container for icon -->
				<div class="preview-glyphs iconDemo glyph" flex
					layout-align="center center" style="text-align: center;">

					<!-- set the icon data -->
					<md-icon ng-style="{color: as.thisWeek[0].icon.color}"
						aria-label='{{as.thisWeek[0].icon.name}}'
						class="material-icons step" ng-class="md-48"> <!-- changing the text changes the icon-->
					{{ as.thisWeek[0].icon.name }} </md-icon>
					<md-icon
						ng-show="(as.thisWeek[0].checkedIn == null && adAttCtrl.activeDay > 0) || (adAttCtrl.activeWeek == false && as.thisWeek[0].checkedIn == null)"
						ng-style="{color: '#A00'}" aria-label="Not Checked In"
						class="material-icons step" ng-class="md-48">close</md-icon>
				</div>
			<td  ><span
				ng-show="as.thisWeek[1].verified == false || as.thisWeek[1].verified == null">
					<md-icon style="cursor: pointer; color:orange;" ng-click="verifyAttendance(as, 1)">check_circle</md-icon>
			</span>
				<div class="preview-glyphs iconDemo glyph" flex
					layout-align="center center" style="text-align: center;">
					<md-icon ng-style="{color: as.thisWeek[1].icon.color}"
						aria-label='{{as.thisWeek[1].icon.name}}'
						class="material-icons step" ng-class="md-48"> {{
					as.thisWeek[1].icon.name }} </md-icon>
					<md-icon
						ng-show="(as.thisWeek[1].checkedIn == null && adAttCtrl.activeDay > 1) || (adAttCtrl.activeWeek == false && as.thisWeek[1].checkedIn == null)"
						ng-style="{color: '#A00'}" aria-label="Not Checked In"
						class="material-icons step" ng-class="md-48">close</md-icon>
				</div>
			<td  ><span
				ng-show="as.thisWeek[2].verified == false || as.thisWeek[2].verified == null">
					<md-icon style="cursor: pointer; color:orange;" ng-click="verifyAttendance(as, 2)">check_circle</md-icon>
			</span>
				<div class="preview-glyphs iconDemo glyph" flex
					layout-align="center center" style="text-align: center;">
					<md-icon ng-style="{color: as.thisWeek[2].icon.color}"
						aria-label='{{as.thisWeek[2].icon.name}}'
						class="material-icons step" ng-class="md-48"> {{
					as.thisWeek[2].icon.name }} </md-icon>
					<md-icon
						ng-show="(as.thisWeek[2].checkedIn == null && adAttCtrl.activeDay > 2) || (adAttCtrl.activeWeek == false && as.thisWeek[2].checkedIn == null)"
						ng-style="{color: '#A00'}" aria-label="Not Checked In"
						class="material-icons step" ng-class="md-48">close</md-icon>
				</div>
			<td  ><span
				ng-show="as.thisWeek[3].verified == false || as.thisWeek[3].verified == null">
					<md-icon style="cursor: pointer; color:orange;" ng-click="verifyAttendance(as, 3)">check_circle</md-icon>
			</span>
				<div class="preview-glyphs iconDemo glyph" flex
					layout-align="center center" style="text-align: center;">
					<md-icon ng-style="{color: as.thisWeek[3].icon.color}"
						aria-label='{{as.thisWeek[3].icon.name}}'
						class="material-icons step" ng-class="md-48"> {{
					as.thisWeek[3].icon.name }} </md-icon>
					<md-icon
						ng-show="(as.thisWeek[3].checkedIn == null && adAttCtrl.activeDay > 3) || (adAttCtrl.activeWeek == false && as.thisWeek[3].checkedIn == null)"
						ng-style="{color: '#A00'}" aria-label="Not Checked In"
						class="material-icons step" ng-class="md-48">close</md-icon>
				</div>
			<td  ><span
				ng-show="as.thisWeek[4].verified == false || as.thisWeek[4].verified == null">
					<md-icon style="cursor: pointer; color:orange;" ng-click="verifyAttendance(as, 4)">check_circle</md-icon>
			</span>
				<div class="preview-glyphs iconDemo glyph" flex
					layout-align="center center" style="text-align: center;">
					<md-icon ng-style="{color: as.thisWeek[4].icon.color}"
						aria-label='{{as.thisWeek[4].icon.name}}'
						class="material-icons step" ng-class="md-48"> {{
					as.thisWeek[4].icon.name }} </md-icon>
					<md-icon
						ng-show="(as.thisWeek[4].checkedIn == null && adAttCtrl.activeDay > 4) || (adAttCtrl.activeWeek == false && as.thisWeek[4].checkedIn == null)"
						ng-style="{color: '#A00'}" aria-label="Not Checked In"
						class="material-icons step" ng-class="md-48">close</md-icon>
				</div>
		</tr>
	</tbody>
</table>
</md-table-container>



<div layout="row">
	<div flex="35"></div>
	<div flex="60">
		<li ng-repeat="legitem in adAttCtrl.legend">
			<!-- set the icon data --> <md-icon
				ng-style="{color: '{{legitem.color}}'}"
				aria-label='{{legitem.name}}' class="material-icons step"
				ng-class="md-48"> <!-- changing the text changes the icon-->

			{{legitem.name}} </md-icon> {{legitem.description}}

		</li>
	</div>
</div>
<style>
.highlightToday {
	background: #D9E9FF;
}

#search {
	
}

#search input[type="text"] {
	background: url(/img/icons/search-white.png) no-repeat 10px 6px #fcfcfc;
	padding: 6px 15px 6px 35px;
}

td {
 text-align: center;
 }
</style>




