<div layout="row">
	<div flex="33" flex-xs="50" id="associateInformationDiv" ng-class="{}">
		<md-card-title> 
			<md-card-title-text style="text-align: center"><h3>Associate Info</h3></md-card-title-text> 
		</md-card-title>
		
		<div>
			<div layout="column" layout-align="center center">
				<md-input-container style="width:75%;"> 
					<label style="text-align: left">Name</label> 
					<span style="text-align: right">{{aInfoCtrl.showName()}}</span>
				</md-input-container>
			</div>
			<div layout="column" layout-align="center center">
				<md-input-container style="width:75%;"> 
					<label style="text-align: left">username</label> 
					<span style="text-align: right">{{aInfoCtrl.user.username}}</span>
				</md-input-container>
			</div>
			
			<div layout="column" layout-align="center center">
				<md-input-container style="width:75%;"> 
					<label style="text-align: left">Panel</label> 
					<span style="text-align: right">{{aInfoCtrl.showTaskPanel()}}</span>
				</md-input-container>
			</div>
			
			<div layout="column" layout-align="center center">
				<md-input-container style="width:75%;"> 
					<label style="text-align: left">Certification</label> 
					<span style="text-align: right">{{aInfoCtrl.showTaskCertification()}}</span>
				</md-input-container>
			</div>
		</div>
		
	</div>

	<div flex="67" flex-xs="50" id="attendanceTableDiv" ng-class="{}">
		<md-table-container>
			<table md-table>
				<tr md-row>
					<th style="width: 32%;" colspan="2">
						<md-input-container>
							<div id="search" >
								<input type="text" placeholder="Search..." ng-model="searchBox">
							</div>
						</md-input-container></th>
					<th style="width: 16%;">
						<span>
							<md-icon
								class="material-icons"
								ng-click="goBackOneWeek()" 
								style=" cursor: pointer;">
								arrow_back
								<md-tooltip>Last week</md-tooltip>
					</md-icon></span></th>
					<th style="width: 16%;">Week of {{supAttCtrl.monday}}</th>
					<th style="width: 16%;">
						<span>
							<md-icon 
								class="material-icons"
								ng-click="goForwardOneWeek()" 
								style=" cursor: pointer;">
								arrow_forward
								<md-tooltip>Next week</md-tooltip>
					</md-icon></span></th>
					<th style="width: 16%;"></th>
				</tr>
			</table>
		</md-table-container>
					
		<md-table-container>			
			<table md-table class="attendanceTable">
				<col>
				<col ng-class="{highlightToday : (supAttCtrl.activeDay == 1)}">
				<col ng-class="{highlightToday : (supAttCtrl.activeDay == 2)}">
				<col ng-class="{highlightToday : (supAttCtrl.activeDay == 3)}">
				<col ng-class="{highlightToday : (supAttCtrl.activeDay == 4)}">
				<col ng-class="{highlightToday : (supAttCtrl.activeDay == 5)}">
				<thead md-head>
					
					<tr md-row>
						<th style="width: 16%;">Name</th>
						<th style="width: 16%;">Monday</th>
						<th style="width: 16%;">Tuesday</th>
						<th style="width: 16%;">Wednesday</th>
						<th style="width: 16%;">Thursday</th>
						<th style="width: 16%;">Friday</th>
					</tr>
					<tr md-row>
						<th></th>
						<th>{{ supAttCtrl.monday }}</th>
						<th>{{ supAttCtrl.tuesday }}</th>
						<th>{{ supAttCtrl.wednesday }}</th>
						<th>{{ supAttCtrl.thursday }}</th>
						<th>{{ supAttCtrl.friday }}</th>
					</tr>
				</thead>
		
				<tbody md-body>
					<tr md-row ng-repeat = "as in supAttCtrl.users | filter:searchBox track by as.username">
						<td md-cell ng-click="suCtrl.showInfo(as)">{{ as.firstName }} {{ as.lastName }}</td>
						<td md-cell ng-click="verifyAttendance(as, 0, as.thisWeek[0].verified)" style="text-align: center; text-indent: 18px;">
							<!-- container for icon -->
							<div class="preview-glyphs iconDemo glyph">
							
							    <!-- set the icon data -->
							    <md-icon ng-if="as.thisWeek[0].icon.name" ng-style="{color: as.thisWeek[0].icon.color}" aria-label='{{as.thisWeek[0].icon.name}}' class="material-icons step" ng-class="md-48">
							
							        <!-- changing the text changes the icon-->
							        {{ as.thisWeek[0].icon.name }}
							    </md-icon>
							    <md-icon ng-if="(as.thisWeek[0].checkedIn == null && supAttCtrl.activeDay > 1) || (supAttCtrl.activeWeek == false && as.thisWeek[1].checkedIn == null)" ng-style="{color: '#A00'}" aria-label="Not Checked In" class="material-icons step" ng-class="md-48">close</md-icon>
							</div>
						</td>
						<td md-cell ng-click="verifyAttendance(as, 1, as.thisWeek[1].verified)"  style="text-align: center; text-indent: 18px;">
							<div class="preview-glyphs iconDemo glyph" flex layout-align="center center" style="text-align: center;">
							    <md-icon ng-if="as.thisWeek[1].icon.name" ng-style="{color: as.thisWeek[1].icon.color}" aria-label='{{as.thisWeek[1].icon.name}}' class="material-icons step" ng-class="md-48">
							        {{ as.thisWeek[1].icon.name }}
							    </md-icon>
							    <md-icon ng-if="(as.thisWeek[1].checkedIn == null && supAttCtrl.activeDay > 1) || (supAttCtrl.activeWeek == false && as.thisWeek[1].checkedIn == null)" ng-style="{color: '#A00'}" aria-label="Not Checked In" class="material-icons step" ng-class="md-48">close</md-icon>
							</div>
						</td>
						<td md-cell ng-click="verifyAttendance(as, 2, as.thisWeek[2].verified)"  style="text-align: center; text-indent: 18px;">
							<div class="preview-glyphs iconDemo glyph" flex layout-align="center center" style="text-align: center;">
							    <md-icon ng-if="as.thisWeek[2].icon.name" ng-style="{color: as.thisWeek[2].icon.color}" aria-label='{{as.thisWeek[2].icon.name}}' class="material-icons step" ng-class="md-48">
							        {{ as.thisWeek[2].icon.name }}
							    </md-icon>
							    <md-icon ng-if="(as.thisWeek[2].checkedIn == null && supAttCtrl.activeDay > 2) || (supAttCtrl.activeWeek == false && as.thisWeek[2].checkedIn == null)" ng-style="{color: '#A00'}" aria-label="Not Checked In" class="material-icons step" ng-class="md-48">close</md-icon>
							</div>
						</td>
						<td md-cell ng-click="verifyAttendance(as, 3, as.thisWeek[3].verified)"  style="text-align: center; text-indent: 18px;">
							<div class="preview-glyphs iconDemo glyph" flex layout-align="center center" style="text-align: center;">
							    <md-icon ng-if="as.thisWeek[3].icon.name" ng-style="{color: as.thisWeek[3].icon.color}" aria-label='{{as.thisWeek[3].icon.name}}' class="material-icons step" ng-class="md-48">
							        {{ as.thisWeek[3].icon.name }}
							    </md-icon>
							    <md-icon ng-if="(as.thisWeek[3].checkedIn == null && supAttCtrl.activeDay > 3) || (supAttCtrl.activeWeek == false && as.thisWeek[3].checkedIn == null)" ng-style="{color: '#A00'}" aria-label="Not Checked In" class="material-icons step" ng-class="md-48">close</md-icon>
							</div>
						</td>
						<td md-cell ng-click="verifyAttendance(as, 4, as.thisWeek[4].verified)"  style="text-align: center; text-indent: 10px;">
							<div class="preview-glyphs iconDemo glyph" flex layout-align="center center" style="text-align: center;">
							    <md-icon ng-if="as.thisWeek[4].icon.name" ng-style="{color: as.thisWeek[4].icon.color}" aria-label='{{as.thisWeek[4].icon.name}}' class="material-icons step" ng-class="md-48">
							        {{ as.thisWeek[4].icon.name }}
							    </md-icon>
							    <md-icon ng-if="(as.thisWeek[4].checkedIn == null && supAttCtrl.activeDay > 4) || (supAttCtrl.activeWeek == false && as.thisWeek[4].checkedIn == null)" ng-style="{color: '#A00'}" aria-label="Not Checked In" class="material-icons step" ng-class="md-48">close</md-icon>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</md-table-container>
	
		<!-- <div>
			<div flex="35"></div>
			<div flex="60">
				<li ng-repeat="legitem in supAttCtrl.legend">
					set the icon data <md-icon
						ng-style="{color: '{{legitem.color}}'}"
						aria-label='{{legitem.name}}' class="material-icons step"
						ng-class="md-48"> changing the text changes the icon
		
					{{legitem.name}} </md-icon> {{legitem.description}}
		
				</li>
			</div>
		</div> -->
	</div>
</div>