<div layout="row">
	<div ng-show="supAttCtrl.showInformation" id="associateInformationDiv" ng-class="{showInformationDiv : (supAttCtrl.showInformation), showBigInformationDiv : (supAttCtrl.showInformation && supAttCtrl.smallDevice)}">
		<md-card md-whiteframe="8dp">
			<md-card-title> 
				<md-icon style="text-align: left" class="material-icons step" ng-class="md-48" ng-click="supAttCtrl.hideInfo()">trending_flat</md-icon>
				<md-card-title-text style="text-align: center"><h3>Associate Info</h3></md-card-title-text> 
			</md-card-title>
			<table>
				<thead>
					<tr>
						<th colspan="2" style="width: 50%;"><h2>Name</h2></th>
						<th colspan="2"><h2>{{ supAttCtrl.currentUser.firstName }} {{ supAttCtrl.currentUser.lastName }}</h2></th>
					</tr>
					<tr class="noBottom">
						<th colspan="4"><h2>Panels</h2></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="panel in supAttCtrl.currentUser.panels | orderBy:'-date'">
						<td>
							<md-icon style="background: white;" ng-show="panel.icon" md-whiteframe="2dp" ng-style="{color: panel.icon.color}" class="material-icons step" ng-class="md-48">{{ panel.icon.name }}</md-icon>
						</td>
						<td colspan="2">
							<span style="text-align: center">{{panel.note}}</span>
						</td>
						<td><span style="text-align: center">{{ panel.dateDisplay }}</span></td>
					</tr>
					<tr class="noBottom"><th colspan="4"><h2>Certifications</h2></th></tr>
					<tr ng-repeat="cert in supAttCtrl.currentUser.certs  | orderBy:'-date'">
						<td>
							<md-icon style="background: white;" ng-show="cert.icon" md-whiteframe="2dp" ng-style="{color: cert.icon.color}" class="material-icons step" ng-class="md-48">{{ cert.icon.name }}</md-icon>
						</td>
						<td colspan="2">{{ cert.note }}</td>
						<td>{{ cert.dateDisplay }}</td>
					</tr>
				</tbody>
			
			
			</table>
		</md-card>
	</div>

	<div id="attendanceTableDiv" ng-class="{resizeAttendanceDiv : (supAttCtrl.showInformation), resizeSmallAttendanceDiv : (supAttCtrl.showInformation && supAttCtrl.smallDevice)}">
		<md-card md-whiteframe="2dp">
			<md-table-container ng-hide="supAttCtrl.showInformation && supAttCtrl.smallDevice">
				<table md-table>
					<tr md-row>
						<th style="width: 32%;" colspan="2">
							<md-input-container>
								<div id="search" >
									<input type="text" placeholder="Search..." ng-model="searchBox">
								</div>
							</md-input-container></th>
						<th style="width: 16%;">
							<span>
								<md-icon
									class="material-icons"
									ng-click="supAttCtrl.goBackOneWeek()" 
									style=" cursor: pointer;">
									arrow_back
									<md-tooltip>Last week</md-tooltip>
						</md-icon></span></th>
						<th style="width: 16%;">Week of {{supAttCtrl.monday}}</th>
						<th style="width: 16%;">
							<span>
								<md-icon 
									class="material-icons"
									ng-click="supAttCtrl.goForwardOneWeek()" 
									style=" cursor: pointer;">
									arrow_forward
									<md-tooltip>Next week</md-tooltip>
						</md-icon></span></th>
						<th style="width: 16%;"></th>
					</tr>
				</table>
			</md-table-container>
						
			<md-table-container>			
				<table md-table class="attendanceTable">
					<col>
					<col ng-class="{highlightToday : (supAttCtrl.activeDay == 1)}">
					<col ng-class="{highlightToday : (supAttCtrl.activeDay == 2)}">
					<col ng-class="{highlightToday : (supAttCtrl.activeDay == 3)}">
					<col ng-class="{highlightToday : (supAttCtrl.activeDay == 4)}">
					<col ng-class="{highlightToday : (supAttCtrl.activeDay == 5)}">
					<thead md-head ng-hide="supAttCtrl.showInformation && supAttCtrl.smallDevice">
						
						<tr md-row>
							<th style="width: 16%;">Name</th>
							<th style="width: 16%;">Monday</th>
							<th style="width: 16%;">Tuesday</th>
							<th style="width: 16%;">Wednesday</th>
							<th style="width: 16%;">Thursday</th>
							<th style="width: 16%;">Friday</th>
						</tr>
						<tr md-row>
							<th></th>
							<th>{{ supAttCtrl.monday }}</th>
							<th>{{ supAttCtrl.tuesday }}</th>
							<th>{{ supAttCtrl.wednesday }}</th>
							<th>{{ supAttCtrl.thursday }}</th>
							<th>{{ supAttCtrl.friday }}</th>
						</tr>
					</thead>
			
					<tbody md-body>
						<tr md-row ng-repeat = "as in supAttCtrl.users | filter:searchBox track by as.username">
							<td md-cell ng-click="supAttCtrl.showInfo(as)" ng-class="{activeUser : (as.username == supAttCtrl.currentUser.username)}">
								<md-icon ng-show="as.notification.icon" md-whiteframe="2dp" ng-style="{color: as.notification.icon.color}" style="background: white;" class="material-icons step" ng-class="md-48">{{ as.notification.icon.name }}</md-icon>
								{{ as.firstName }} {{ as.lastName }}
							</td>
							<td md-cell ng-click="supAttCtrl.verifyAttendance(as, 0, as.thisWeek[0].verified)" style="text-align: center; text-indent: 18px;"
								ng-hide="supAttCtrl.showInformation && supAttCtrl.smallDevice">
								<!-- container for icon -->
								<div class="preview-glyphs iconDemo glyph">
								
								    <!-- set the icon data -->
								    <md-icon ng-if="as.thisWeek[0].icon.name" ng-style="{color: as.thisWeek[0].icon.color}" aria-label='{{as.thisWeek[0].icon.name}}' class="material-icons step" ng-class="md-48">
								
								        <!-- changing the text changes the icon-->
								        {{ as.thisWeek[0].icon.name }}
								    </md-icon>
								    <md-icon ng-if="(as.thisWeek[0].checkedIn == null && supAttCtrl.activeDay > 1) || (supAttCtrl.activeWeek == false && as.thisWeek[1].checkedIn == null)" ng-style="{color: '#A00'}" aria-label="Not Checked In" class="material-icons step" ng-class="md-48">close</md-icon>
								</div>
							</td>
							<td md-cell ng-click="supAttCtrl.verifyAttendance(as, 1, as.thisWeek[1].verified)"  style="text-align: center; text-indent: 18px;"
								ng-hide="supAttCtrl.showInformation && supAttCtrl.smallDevice">
								<div class="preview-glyphs iconDemo glyph" flex layout-align="center center" style="text-align: center;">
								    <md-icon ng-if="as.thisWeek[1].icon.name" ng-style="{color: as.thisWeek[1].icon.color}" aria-label='{{as.thisWeek[1].icon.name}}' class="material-icons step" ng-class="md-48">
								        {{ as.thisWeek[1].icon.name }}
								    </md-icon>
								    <md-icon ng-if="(as.thisWeek[1].checkedIn == null && supAttCtrl.activeDay > 1) || (supAttCtrl.activeWeek == false && as.thisWeek[1].checkedIn == null)" ng-style="{color: '#A00'}" aria-label="Not Checked In" class="material-icons step" ng-class="md-48">close</md-icon>
								</div>
							</td>
							<td md-cell ng-click="supAttCtrl.verifyAttendance(as, 2, as.thisWeek[2].verified)"  style="text-align: center; text-indent: 18px;"
								ng-hide="supAttCtrl.showInformation && supAttCtrl.smallDevice">
								<div class="preview-glyphs iconDemo glyph" flex layout-align="center center" style="text-align: center;">
								    <md-icon ng-if="as.thisWeek[2].icon.name" ng-style="{color: as.thisWeek[2].icon.color}" aria-label='{{as.thisWeek[2].icon.name}}' class="material-icons step" ng-class="md-48">
								        {{ as.thisWeek[2].icon.name }}
								    </md-icon>
								    <md-icon ng-if="(as.thisWeek[2].checkedIn == null && supAttCtrl.activeDay > 2) || (supAttCtrl.activeWeek == false && as.thisWeek[2].checkedIn == null)" ng-style="{color: '#A00'}" aria-label="Not Checked In" class="material-icons step" ng-class="md-48">close</md-icon>
								</div>
							</td>
							<td md-cell ng-click="supAttCtrl.verifyAttendance(as, 3, as.thisWeek[3].verified)"  style="text-align: center; text-indent: 18px;"
								ng-hide="supAttCtrl.showInformation && supAttCtrl.smallDevice">
								<div class="preview-glyphs iconDemo glyph" flex layout-align="center center" style="text-align: center;">
								    <md-icon ng-if="as.thisWeek[3].icon.name" ng-style="{color: as.thisWeek[3].icon.color}" aria-label='{{as.thisWeek[3].icon.name}}' class="material-icons step" ng-class="md-48">
								        {{ as.thisWeek[3].icon.name }}
								    </md-icon>
								    <md-icon ng-if="(as.thisWeek[3].checkedIn == null && supAttCtrl.activeDay > 3) || (supAttCtrl.activeWeek == false && as.thisWeek[3].checkedIn == null)" ng-style="{color: '#A00'}" aria-label="Not Checked In" class="material-icons step" ng-class="md-48">close</md-icon>
								</div>
							</td>
							<td md-cell ng-click="supAttCtrl.verifyAttendance(as, 4, as.thisWeek[4].verified)"  style="text-align: center; text-indent: 10px;"
								ng-hide="supAttCtrl.showInformation && supAttCtrl.smallDevice">
								<div class="preview-glyphs iconDemo glyph" flex layout-align="center center" style="text-align: center;">
								    <md-icon ng-if="as.thisWeek[4].icon.name" ng-style="{color: as.thisWeek[4].icon.color}" aria-label='{{as.thisWeek[4].icon.name}}' class="material-icons step" ng-class="md-48">
								        {{ as.thisWeek[4].icon.name }}
								    </md-icon>
								    <md-icon ng-if="(as.thisWeek[4].checkedIn == null && supAttCtrl.activeDay > 4) || (supAttCtrl.activeWeek == false && as.thisWeek[4].checkedIn == null)" ng-style="{color: '#A00'}" aria-label="Not Checked In" class="material-icons step" ng-class="md-48">close</md-icon>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
		
			<div layout="row" ng-hide="supAttCtrl.showInformation && supAttCtrl.smallDevice">
				<div style="width: 35%"></div>
				<div>
					<li ng-repeat="legitem in supAttCtrl.legend">
						<md-icon
							ng-style="{color: '{{legitem.color}}'}"
							aria-label='{{legitem.name}}' class="material-icons step"
							ng-class="md-48">
							{{legitem.name}}
						</md-icon>
						{{legitem.description}}
			
					</li>
				</div>
			</div>
		</md-card>
	</div>
</div>
<style type="text/css">
	
	.showInformationDiv{
		width:33%;
	}
	.showInformationDiv md-card{
		color: white !important;
	}
	.showBigInformationDiv{
		width:50%;
	}
	
	.resizeAttendanceDiv{
		width:67% !important;
	}
	.resizeSmallAttendanceDiv{
		width:50%;
	}
	.activeUser{
		background: #5C6BC0;
		color: white !important;
	}
	#attendanceTableDiv{
		width: 100%;
	}
	#associateInformationDiv md-card{
		background-color: #5C6BC0;
	} 
	#associateInformationDiv md-card table{
		border-collapse:collapse;
	}
	#associateInformationDiv md-card table tr{
		border-bottom: 1pt solid white;
	}
	#associateInformationDiv md-card table tr:LAST-CHILD{
		border-bottom: none;
	}
	#associateInformationDiv md-card table tr.noBottom{
		border-bottom: none;
	}
</style>