<md-toolbar>
	<div class="md-toolbar-tools">
    	<h2>Update certification status</h2>
    </div>
</md-toolbar>


<div class="md-padding" layout="column" layout-align="center space-around">

		<md-input-container class="InputContainer">
        	<label>date</label>
        	<input  type="date" ng-model="ap.newDate">
      	</md-input-container>
      
      	<md-input-container class="InputContainer">
        	<label>Project Name</label>
        	<input ng-model="ap.newNote">
      	</md-input-container>
		
		<md-checkbox ng-model="ap.newPassed">Done?</md-checkbox>
</div>
	
<div layout="row" layout-align="end end">
		<div flex> </div>
		<md-button type="button" id="updateSubmit" class="md-primary"ng-click="ap.submit()"> Submit </md-button>
		<md-button type="button" id="updateCancel" class="md-accent" ng-click="ap.cancel()"> Cancel </md-button>
</div>
