	<md-toolbar>
		<div class="md-toolbar-tools">
	    	<h2>Update project status</h2>
	    </div>
	</md-toolbar>
	
		<div class="md-padding" layout="column" layout-align="center space-around">
		{{ap.message}}
	</div>
	
	<div class="md-padding" layout="column" layout-align="center space-around">

	      	current Project: {{ ap.currentProject.name }}
	      	<md-input-container>
  				<md-select ng-model="ap.project" placeholder="Select a new project.">
    				<md-option ng-value="proj" ng-repeat="proj in ap.availProjects">{{ proj.name }}</md-option>
  				</md-select>
			</md-input-container>
			Project Name: {{ap.project.name}}<br>
			start date: {{ap.project.startDateDisplay}}<br>
			end date: {{ap.project.endDateDisplay}}<br>
			description: {{ap.project.description}}
						
	</div>
		
	<div layout="row" layout-align="end end">
		<div flex> </div>
		<md-button type="button" id="assignSubmit" class="md-primary"ng-click="ap.assignSubmit()"> Submit </md-button>
		<md-button type="button" id="assignCancel" class="md-accent" ng-click="ap.assignCancel()"> Cancel </md-button>
	</div>
</div>