
    <div role="dialog">
        
        <md-toolbar>
            <div class="md-toolbar-tools">
                Create new batch
            </div>
        </md-toolbar>

        <div class="newAssociateGroup" layout="rows">
            <div class="newAssociate md-padding" layout="columns">
                <md-input-container>
                    <label> First name </label>
                    <input type="text" ng-model="newAssoCtrl.firstName">
                </md-input-container>
                <md-input-container>
                    <label> Last name </label>
                    <input type="text" ng-model="newAssoCtrl.lastName">
                </md-input-container>
            </div>
        </div>

    </div>