<div role = "dialog">

	<md-toolbar>
        <div class="md-toolbar-tools">
            Delete Associates
        </div>
    </md-toolbar>
    
    <div class="md-padding" layout="columns">
    	 <form name="deleteAssociate" ng-submit="" novalidate>
    	 	 <div layout="row" layout-align="end center">
                    <md-button id="submitButtonAssForm" type="submit" class="md-primary" aria-label="Submit All"> SUBMIT </md-button>
                    <md-button id="cancelButtonAssForm" type="button" class="md-accent" ng-click="" aria-label="Cancel"> CANCEL </md-button>
             </div>
    	 </form>
    </div>
    
    

</div>