<div role = "dialog" class="deleteUserDialog">

	<md-toolbar>
        <div class="md-toolbar-tools">
            Delete Associates
        </div>
    </md-toolbar>
    
    <div class="md-padding" layout="columns">
    	 <form name="deleteAssociate" ng-submit="" novalidate> 
    	 	
    		 <md-autocomplete
    		 	 md-menu-class="autocomplete-custom-template"
         		 ng-disabled="assoCtrl.isDisabled"
         		 md-no-cache="assoCtrl.noCache"
         		 md-selected-item="assoCtrl.selectedItem"
         		 md-search-text-change="assoCtrl.searchTextChange(assoCtrl.searchText)"
         		 md-search-text="assoCtrl.searchText"
         		 md-selected-item-change="assoCtrl.selectedItemChange(item)"
         		 md-items="item in assoCtrl.querySearch(assoCtrl.searchText)"
        		 md-item-text="item.firstName + ' ' + item.lastName"
         		 md-min-length="0"
         		 placeholder="What User do you want to Delete?">
          
         		 <md-item-template>
         			 <span md-highlight-text="assoCtrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
       			 </md-item-template>
       		 
        		<md-not-found>
         			 No User matching "{{assoCtrl.searchText}}" was found.
          			<a ng-click="assoCtrl.newUser(ctrl.searchText)"></a>
       		 	</md-not-found>
      		</md-autocomplete>
          
    	 	
    	 	</div>
    	 
    	 	 <div layout="row" layout-align="end center">
                    <md-button id="submitButtonAssForm" type="submit" class="md-primary" aria-label="Submit All"> SUBMIT </md-button>
                    <md-button id="cancelButtonAssForm" type="button" class="md-accent" ng-click="assoCtrl.cancel()" aria-label="Cancel"> CANCEL </md-button>
             </div>
    	 </form>
    </div>
    
    

</div>