
    <md-card md-whiteframe="8">
        <md-toolbar md-whiteframe="8">
            <div class="md-toolbar-tools">

                <div flex> {{ tempCtrl.title }} </div>

                <md-button ng-repeat="action in tempCtrl.actions" class="md-icon-button" aria-label="action.tooltip" ng-click="action.function()">
                    <md-tooltip> {{ action.tooltip }} </md-tooltip>
                    <md-icon class="md-material-icon menu-icon"> {{ action.icon }} </md-icon>
                </md-button>

                <md-button id="Settings" class="md-icon-button" aria-label="Account settings" ng-click="tempCtrl.settings(false)">
                    <md-tooltip> Account settings </md-tooltip>
                    <md-icon class="md-material-icon menu-icon"> settings </md-icon>
                </md-button>

                <md-button id="Logout" class="md-icon-button" aria-label="Logout" ng-click="tempCtrl.logout()">
                    <md-tooltip> Logout </md-tooltip>
                    <md-icon class="md-material-icon menu-icon"> exit_to_app </md-icon>
                </md-button>

            </div>
        </md-toolbar>
    </md-card>

    <ui-view name="mainView"> </ui-view>