
    <div ng-controller="managerViewUserInfoCtrl as mVUICtrl">
        
          <!-- User info panel -->
        <md-expansion-panel md-component-id="userInfoPanel" ng-if="mVUICtrl.user != undefined">
            <md-expansion-panel-collapsed>
                <div class="md-title"> User info </div>
                <div class="md-summary"> Basic information </div>
                <md-expansion-panel-icon> </md-expansion-panel-icon>
            </md-expansion-panel-collapsed>

            <md-expansion-panel-expanded>
                <md-expansion-panel-header md-ink-ripple="#000000" ng-click="$panel.collapse()"> 
                    <div class="md-title"> User info </div>
                    <md-expansion-panel-icon> </md-expansion-panel-icon>
                </md-expansion-panel-header>
                
                <md-expansion-panel-content>
                    <md-list class="expansionPanelList md-dense">

                        <md-list-item class="md-3-line dense-list" ng-click="null">
                            <div class="md-list-item-text" layout="column"> 
                                <h3 class="h3Top"> Name </h3>
                            </div>
                            <div flex> </div>
                            <div class="md-list-item-text eventListRight" layout="column">
                                <h3> {{ mVUICtrl.user.firstName }} {{ mVUICtrl.user.lastName }} </h3>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-3-line dense-list" ng-click="null">
                            <div class="md-list-item-text" layout="column"> 
                                <h3 class="h3Top"> Username </h3>
                            </div>
                            <div flex> </div>
                            <div class="md-list-item-text eventListRight" layout="column">
                                <h3> {{ mVUICtrl.user.username }} </h3>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-3-line dense-list" ng-click="null">
                            <div class="md-list-item-text" layout="column"> 
                                <h3 class="h3Top"> Batch </h3>
                            </div>
                            <div flex> </div>
                            <div class="md-list-item-text eventListRight" layout="column">
                                <h3> {{ mVUICtrl.user.batchType.type }} </h3>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-3-line dense-list" ng-click="null">
                            <div class="md-list-item-text" layout="column"> 
                                <h3 class="h3Top"> Trainer </h3>
                            </div>
                            <div flex> </div>
                            <div class="md-list-item-text eventListRight" layout="column">
                                <!--<h3> {{ mVUICtrl.user.trainer.firstName }} {{ mVUICtrl.user.trainer.lastName }} </h3>-->
                            </div>
                        </md-list-item>

                        <md-list-item class="md-3-line dense-list" ng-click="null">
                            <div class="md-list-item-text" layout="column"> 
                                <h3 class="h3Top"> Graduation date </h3>
                            </div>
                            <div flex> </div>
                            <div class="md-list-item-text eventListRight" layout="column">
                                <h3> {{ mVUICtrl.user.graduationDate | date:"MMMM dd, yyyy" }} </h3>
                            </div>
                        </md-list-item>

                    </md-list>
                </md-expansion-panel-content>
            </md-expansion-panel-expanded>
        </md-expansion-panel>

          <!-- Skill panel -->
        <md-expansion-panel md-component-id="skillPanel">
            <md-expansion-panel-collapsed>
                <div class="md-title"> Skills </div>
                <div class="md-summary"> Technical skills </div>
                <md-expansion-panel-icon> </md-expansion-panel-icon>
            </md-expansion-panel-collapsed>

            <md-expansion-panel-expanded>
                <md-expansion-panel-header md-ink-ripple="#000000" ng-click="$panel.collapse()"> 
                    <div class="md-title"> Skills </div>
                    <div class="md-summary"> Technical skills </div>
                    <md-expansion-panel-icon> </md-expansion-panel-icon>
                </md-expansion-panel-header>
                
                <md-expansion-panel-content> 
                    <div class="denseItem" ng-if="mVUICtrl.user.skill.length != 0"> {{ mVUICtrl.user.skill.map( mVUICtrl.joinArrayBySkill ).join(", ") }} </div>
                    <div class="denseItem" ng-if="mVUICtrl.user.skill.length == 0"> User has not added any skills. </div>
                </md-expansion-panel-content>
            </md-expansion-panel-expanded>
        </md-expansion-panel>  
            
          <!-- Event panel -->
        <md-expansion-panel md-component-id="eventPanel">
            <md-expansion-panel-collapsed>
                <div class="md-title"> Events </div>
                <div class="md-summary"> Interviews, submissions, selections </div>
                <md-expansion-panel-icon> </md-expansion-panel-icon>
            </md-expansion-panel-collapsed>

            <md-expansion-panel-expanded>
                <md-expansion-panel-header md-ink-ripple="#000000" ng-click="$panel.collapse()"> 
                    <div class="md-title"> Events </div>
                    <div class="md-summary"> Interviews, submissions, selections </div>
                    <md-expansion-panel-icon> </md-expansion-panel-icon>
                </md-expansion-panel-header>
                
                <md-expansion-panel-content>
                    <md-list class="expansionPanelList md-dense">
                        
                        <md-subheader class="md-no-sticky" ng-repeat-start="(type, specificEvents) in mVUICtrl.allEvents"> {{ type }} </md-subheader>
                        <md-list-item class="md-3-line" ng-repeat="event in specificEvents" ng-click="null">
                            <div class="md-list-item-text" layout="column"> 
                                <h3 class="h3Top"> {{ event.assignment.companyName }} - {{ event.assignment.location }} </h3>
                                <h4> {{ event.type.type }} - {{ event.assignment.jobTitle }} </h4>
                                <p style="text-align: left"> {{ event.note }} </p>
                            </div>
                            <div flex> </div>
                            <div class="md-list-item-text eventListRight" layout="column">
                                <h3> {{ event.date | date:'MMMM dd, yyyy' }} </h3>
                                <h4> {{ event.location }} </h4>
                                <p style="text-align: left"> &nbsp; </p>
                            </div>
                        </md-list-item>
                        <md-divider ng-repeat-end ng-if="!$last"> </md-divider>

                    </md-list>
                </md-expansion-panel-content>
            </md-expansion-panel-expanded>
        </md-expansion-panel>
            
          <!-- Task panel -->
        <md-expansion-panel md-component-id="taskPanel">
            <md-expansion-panel-collapsed>
                <div class="md-title"> Tasks </div>
                <div class="md-summary"> Certifications, panels, projects </div>
                <md-expansion-panel-icon> </md-expansion-panel-icon>
            </md-expansion-panel-collapsed>

            <md-expansion-panel-expanded>
                <md-expansion-panel-header md-ink-ripple="#000000" ng-click="$panel.collapse()"> 
                    <div class="md-title"> Tasks </div>
                    <div class="md-summary"> Certifications, panels, projects </div>
                    <md-expansion-panel-icon> </md-expansion-panel-icon>
                </md-expansion-panel-header>
                
                <md-expansion-panel-content>
                    <md-list class="expansionPanelList">
                        
                        <md-subheader class="md-no-sticky" ng-repeat-start="(type, specificTasks) in mVUICtrl.allTasks" layout="row" layout-align="space-between center"> 
                            <span> {{ type }}s </span>
                            <md-button ng-if="(mVUICtrl.newCert == true) && (type.toLowerCase() == 'certification')" class="md-icon-button" aria-label="Add certification" ng-click="mVUICtrl.addCert()">
                                <md-tooltip> Add certification </md-tooltip>
                                <md-icon class="md-material-icon"> add </md-icon>
                            </md-button>  
                        </md-subheader>
                        
                        <!--<md-list-item ng-repeat="task in specificTasks">
                            <h3> {{ mVUICtrl.formatTaskListItemTitle(task) }} </h3>
                            <div flex> </div>
                            <p> {{ mVUICtrl.formatTaskListItemContent(task) }} </p>
                            <md-icon class="material-icons"> {{ task | iconFilter:"passed" }} </md-icon>
                        </md-list-item>-->

                        <md-list-item class="md-3-line dense-list" ng-click="null" ng-repeat="task in specificTasks">
                            <div class="md-list-item-text" layout="column"> 
                                <h3 class="h3Top"> {{ mVUICtrl.formatTaskListItemTitle(task) }} </h3>
                            </div>
                            <div flex> </div>
                            <div class="md-list-item-text eventListRight" layout="column">
                                <h3> {{ mVUICtrl.formatTaskListItemContent(task) }} </h3>
                            </div>
                        </md-list-item>
                        <md-divider ng-repeat-end ng-if="!$last"> </md-divider>

                    </md-list>
                </md-expansion-panel-content>
            </md-expansion-panel-expanded>
        </md-expansion-panel>

    </div>