<div role="dialog">
    <md-toolbar>
            <div class="md-toolbar-tools">
                Edit Skills
            </div>
        </md-toolbar>
        <div class="md-padding batchAddChips">
            <h3>Skills To Add</h3>
            <md-chips ng-model="sECtrl.newSkillList" readonly="false" md-removable="true" md-enable-chip-edit="true" 
            md-transform-chip="sECtrl.addNewSkillId($chip)" md-on-remove="sECtrl.removeSkillId($index)">

            </md-chips>
        </div>

        <form name="updateAll" ng-submit="sECtrl.updateAll()" novalidate>
             <md-input-container>
                 
                 <md-button type="submit" class="md-primary">Update Database</md-button>
                 <md-button type="button" class="md-accent" ng-click="sECtrl.cancel()">Cancel</md-button>
             </md-input-container>
            </form>

            
</div>