<div role="dialog">
    <md-toolbar>
            <div class="md-toolbar-tools">
                Edit Skills
            </div>
        </md-toolbar>

        <md-button type="button" class="md-accent" ng-click="sECtrl.printCurrentSkills()">Print Skills</md-button>
        <!--<md-button type="button" class="md-accent" ng-click=""></md-button>-->
        <div class="md-padding">
            <form name="newSkillForm" ng-submit="sECtrl.addSkill(newSkillForm.$valid)" novalidate>
                <md-input-container class="InputContainer">
                    <label>New Skill</label>
                    <input id="skillname" ng-model="sECtrl.newSkillAdd" required/>

                </md-input-container>
                <md-button type="submit" class="md-accent">Add Skill</md-button>
            </form>
        </div>

</div>