<div role="dialog">
    <md-toolbar>
            <div class="md-toolbar-tools">
               Technical skills
            </div>
        </md-toolbar>
        <div class="md-padding batchAddChips">
            <md-chips ng-model="sECtrl.newSkillList" readonly="false" md-removable="true" md-enable-chip-edit="true" 
            md-transform-chip="sECtrl.addNewSkillId($chip)" md-on-remove="sECtrl.removeSkillId($index)" placeholder="New skill"
            delete-hint="Delete this skill">

            </md-chips>
        </div>
        <div layout="row" layout-align="end center">
            <form name="updateAll" ng-submit="sECtrl.updateAll()" novalidate>       
                <md-button type="submit" class="md-primary">SAVE</md-button>
                <md-button type="button" class="md-accent" ng-click="sECtrl.cancel()">CANCEL</md-button>
            </form>
        </div>
            
</div>