<div role="dialog">

    <md-toolbar ng-if="sESCtrl.skillAddSuccess.length > 0">
        <div class="md-toolbar-tools" >
            Skills Added
        </div>
    </md-toolbar>

    <md-content layout="columns" ng-if="sESCtrl.skillAddSuccess.length > 0">
        <div>
            <md-list flex>
                <md-list-item class="md-2-line" ng-repeat="skill in sESCtrl.skillAddSuccess" ng-click="null">
                    <div class="md-list-item-text">
                        <p>{{skill}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </md-content>

    <md-toolbar ng-if="sESCtrl.skillRemoveSuccess.length > 0">
        <div class="md-toolbar-tools">
            Skills Deleted
        </div>
    </md-toolbar>

    <md-content layout="columns" ng-if="sESCtrl.skillRemoveSuccess.length > 0">
        <div>
            <md-list flex>
                <md-list-item class="md-2-line" ng-repeat="skill in sESCtrl.skillRemoveSuccess" ng-click="null">
                    <div class="md-list-item-text">
                        <p>{{skill}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </md-content>

    <md-toolbar ng-if="sESCtrl.skillRemoveFail.length > 0">
        <div class="md-toolbar-tools">
            Skills Not Deleted
        </div>
    </md-toolbar>

    <md-content layout="columns" ng-if="sESCtrl.skillRemoveFail.length > 0">
        <div>
            <md-list flex>
                <md-list-item class="md-2-line" ng-repeat="skill in sESCtrl.skillRemoveFail" ng-click="null">
                    <div class="md-list-item-text">
                        <p>{{skill.skill}} - {{skill.error}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </md-content>

    <md-button class="md-raised md-primary" ng-click="sESCtrl.okay()"> OKAY </md-button>
</div>