<md-dialog flex="66">
<md-toolbar >
	<div class="md-toolbar-tools">
		<div flex>Edit project</div>
	
		 <md-button class="md-icon-button" aria-label="Account settings" ng-click="up.newProject()">
	        <md-tooltip> Add a new project </md-tooltip>
	    	<md-icon class="md-material-icon menu-icon"> add</md-icon>
	    </md-button> 
	                
		<md-button class="md-icon-button" aria-label="Account settings" ng-click="up.deleteProject()">
			<md-tooltip> Delete selected project </md-tooltip>
	        <md-icon class="md-material-icon menu-icon"> delete </md-icon>
	    </md-button> 
    </div>
</md-toolbar>

	<span style="color:red;" ng-repeat="x in up.errors | orderBy : 'x.name'">{{x.msg}}</span>	

<div  layout="column"  class="md-padding" layout-align="start start" flex="none">
	{{up.message}}
	<md-input-container class="InputContainer" style = "width:100%;">
		<md-select ng-model="up.selectedProject" placeholder="Select a project">
			<md-option 	ng-value="proj" ng-repeat="proj in up.allProjects | orderBy : 'name' ">{{ proj.name }}</md-option>
		</md-select>
	</md-input-container>
	
		<md-input-container class="InputContainer" layout-fill>
			<label>Project name</label>
  			<input type="text" ng-model="up.selectedProject.displayName">
		</md-input-container>
	
		<div layout="row" layout-align="space-between start">
			<md-input-container class="InputContainer" layout-fill>
				<label>Start date</label>
	  			<md-datepicker ng-model="up.selectedProject.startDate" md-hide-icons="calendar"></md-datepicker>
			</md-input-container>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
			<md-input-container class="InputContainer" layout-fill>
				<label>End date</label>
	  			<md-datepicker ng-model="up.selectedProject.endDate" md-hide-icons="calendar"></md-datepicker>
			</md-input-container>
		</div>
	
		<md-input-container layout-fill class="InputContainer">
			<label>Project description</label>
  			<textarea ng-model="up.selectedProject.description" maxlength="255" rows="4" max-rows="4"></textarea>
		</md-input-container>
	

</div>	
		<div layout="row" layout-align="center space-around">
			<div flex> </div>
			<md-button type="button" id="updateSubmit" class="md-primary"ng-click="up.updateSubmit()">SUBMIT</md-button>
			<md-button type="button" id="cancel" class="md-accent" ng-click="up.close()">CANCEL</md-button>
		</div>
</md-dialog>