<md-toolbar>
	<div class="md-toolbar-tools">
    	<h2>Update certification status</h2>
    </div>
</md-toolbar>

<div class="md-padding" layout="column" layout-align="center space-around">
		<md-input-container class="InputContainer">
        	<label>{{uc.cert.dateDisplay }}</label>
        	<input  type="date" ng-model="uc.newDate">
      	</md-input-container>
      
      	<md-input-container class="InputContainer">
        	<label>{{uc.oldNote}}</label>
        	<input ng-model="uc.newNote">
      	</md-input-container>
		
		<md-checkbox ng-model="uc.newPassed">Passed</md-checkbox>
	</div>
	
	<div layout="row" layout-align="end end">
		<div flex> </div>
		<md-button type="button" id="updateSubmit" class="md-primary"ng-click="uc.submit()"> Submit </md-button>
		<md-button type="button" id="updateCancel" class="md-accent" ng-click="uc.cancel()"> Cancel </md-button>
	</div>
</div>
