<md-dialog class="changePassword">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Change password</h2>
        </div>
    </md-toolbar>

    <div class="md-padding">
        <form id="updateForm" name="updateInfoForm" ng-submit="uInfoCtrl.submit()" novalidate>

            <div layout="column" layout-align="center space-around">
                <md-input-container class="InputContainer">
                    <label> Current password </label>
                    <input id="oldPass" ng-bind="uic.oldPass" type="password">
                </md-input-container>

                <md-input-container class="InputContainer">
                    <label> New password </label>
                    <input id="newPass" ng-bind="uic.newPass" type="password">
                </md-input-container>

                <md-input-container class="InputContainer">
                    <label> Confirm new password </label>
                    <input id="confirmPass" ng-bind="uic.confirmPass" type="password">
                </md-input-container>
            </div>

            <div layout="row" layout-align="end end">
                <div flex> </div>
                <md-button id "subButton" type="submit" class="md-primary"> Submit </md-button>
                <md-button id="canButton" type="button" id="updateCancel" ng-if="uInfoCtrl.needChangePass == false" class="md-accent" ng-click="uInfoCtrl.cancel()"> Cancel </md-button>
            </div>

        </form>
    </div>

</md-dialog>